@import "tailwindcss";

:root {
  --background: #111113;
  --foreground: #f4f4f4;
  --theme: #E8589F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-theme: var(--theme);
}

body {
  background: var(--background);
  color: var(--foreground);
}
